@mixin button{
	
}
.v-button{
	margin: 5px;
	
	&:hover:after{
		background-color: transparent !important;
	}
}
.v-button-link{
	background: none !important;
	margin: 0px !important;
	border-radius: 0px !important;
}
.v-button-project-name{
	text-align: left !important;

	width: 181px !important;
}
.v-button-task-delete, 
.v-button-project-delete, 
.v-button-task-edit, 
.v-button-project-edit{
	padding: 0 !important;
}
.v-button-task-edit, 
.v-button-project-edit{
	@include sprites_with_hover(25px, 25px, 5px, 0px -201px, 0px -231px);
}
.v-button-task-delete, 
.v-button-project-delete{
	@include sprites_with_hover(25px, 25px, 5px, 0px -321px, 0px -351px);
}
#add-project{
	width: 100%;
}