<div location="header"></div>
<div id="form">
	<div class="horizontallayout-space-between form-row" location="username"></div>
	<div class="horizontallayout-end form-row" location="email-as-username"></div>
	<div class="horizontallayout-space-between form-row" location="email"></div>
	<div class="horizontallayout-space-between form-row" location="password"></div>
	<div class="horizontallayout-space-between form-row" location="confirm-password"></div>
</div>
<div class="horizontallayout-center">
	<div location="register"></div>
	<div location="login"></div>
</div>