<div id="form">
	<div class="horizontallayout-space-between form-row" location="task-name"></div>
	<div class="horizontallayout-space-between form-row" location="due-date"></div>
	<div class="horizontallayout-space-between form-row" location="priority"></div>
	<div class="horizontallayout-space-between form-row" location="status"></div>
	<div class="horizontallayout-space-between form-row" location="task-description"></div>
</div>
<div class="horizontallayout-center">
	<div location="save"></div>
	<div location="cancel"></div>
</div>